name: Build dlc.dat
on:
  schedule:
    - cron: "0 12 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout dnsmasq-china-list
        uses: actions/checkout@v2
        with:
          repository: felixonmars/dnsmasq-china-list
          path: dnsmasq-china-list

      - name: Generate raw domain list
        run: |
          cd dnsmasq-china-list || exit 1
          make raw
          mkdir data
          mv accelerated-domains.china.raw.txt data/china
          mv apple.china.raw.txt data/apple
          mv google.china.raw.txt data/google

      - name: Generate dlc.dat
        run: |
          go run ./ --datapath=./dnsmasq-china-list/data
          sha512sum dlc.dat > sha512sum

      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
        shell: bash

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.RELEASE_NAME }}
          artifacts: "dlc.dat,sha512sum"
          token: ${{ secrets.GITHUB_TOKEN }}
