name: Build
on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 0"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "LICENSE*"
      - "data/*"
jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "CHINA_LIST=https://raw.githubusercontent.com/felixonmars/dnsmasq-china-list/master/accelerated-domains.china.conf" >> $GITHUB_ENV
          echo "APPLE_LIST=https://raw.githubusercontent.com/felixonmars/dnsmasq-china-list/master/apple.china.conf" >> $GITHUB_ENV
          echo "GOOGLE_LIST=https://raw.githubusercontent.com/felixonmars/dnsmasq-china-list/master/google.china.conf" >> $GITHUB_ENV
        shell: bash

      - name: Checkout
        uses: actions/checkout@v3

      - name: Download latest lists
        run: |
          curl -sSL "${CHINA_LIST}"  | cut -f 2 -d '/' > data/china
          curl -sSL "${APPLE_LIST}"  | cut -f 2 -d '/' > data/apple
          curl -sSL "${GOOGLE_LIST}" | cut -f 2 -d '/' > data/google

      - name: Push to main
        continue-on-error: true
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "3736910+github-actions[bot]@users.noreply.github.com"
          git commit -am "${{ env.RELEASE_NAME }}"
          git push origin main

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.18

      - name: Generate dlc.dat
        run: |
          go run ./ --datapath=./data
          sha512sum dlc.dat > sha512sum

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dlc.dat,sha512sum"
          body: ${{ env.RELEASE_NAME }}
          name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.RELEASE_NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
